flask==2.3.3
qrcode==7.4.2
sympy==1.12
pillow==10.2.0
werkzeug==2.3.7
cryptography==42.0.5
numpy==1.26.4
qiskit==1.0.2
qiskit-aer==0.13.3
psutil>=5.9.7
qiskit-ibm-runtime==0.20.2
matplotlib==3.8.3
fractions==1.0  # Part of Python standard library
math==1.0  # Part of Python standard library